
@model ASPNetCoreApp.Domain.ViewModels.EmployeeViewModel

<div class="container">
    <a asp-controller="Employees" asp-action="Index" class="btn btn-default">Возврат к списку сотрудников</a>

    <h1>Дополнительная информация по сотруднику @Model.LastName @Model.FirstName</h1>
    <p>Дата рождения: <b>@Model.BirthdayDate.ToShortDateString()</b></p>
</div>

