
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h3>Добрый день! Это страница тестового проекта, <br/> в котором будет показана функциональность ASP.NET Core на примере интернет магазина</h3>
    <p>Вы можете перейти по ссылкам сверху для просмотра функций сайта</p>
</body>
</html>
